  body {
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    padding: 0% 10%;
    background-color: lightgray ;
  }

  .game-intro h1 {
    font-size: 30px;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana"
  }
  
  .class-choose {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .class-choose #wizard {
    width: 15vw;
    height: 30vh;
  }

  .class-choose #knight {
    width: 18vw;
    height: 30vh;
  }
  
  body button {
    font-size: 30px;
    background-color: black;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: left;
      padding: 20px 0px;
      display: none;
  }

  .game-over {
    padding: 0% 10%;
    background-color: lightgray ;
    display: none;
  }

  .game-over h1 {
    font-size: 30px;
  }
  
  .game-over p {
    font-size: 18px;
    font-family: "Verdana"
  }
  