@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
  
  body {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .game-header h1 {
    font-size: 60px;
    background-color: black;
    color: darkgoldenrod;
    font-style: bold;
    font-family: 'VT323', monospace;
    margin: 0;
  }

  .game-intro-body {
    padding: 0% 10%;
    background-image: url('../assets/tileset.png');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
  }
  
  .game-intro-body p {
    font-size: 40px;
    font-family: "Verdana";
    color: white;
    font-family: 'VT323', monospace;
  }
  
  /*.class-choose {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .class-choose #wizard {
    width: 15vw;
    height: 30vh;
  }

  .class-choose #knight {
    width: 18vw;
    height: 30vh;
  }*/
  
  body button {
    font-size: 30px;
    background-color: black;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board-div {
      float: left;
      padding: 0;
      display: none;
      font-family: 'VT323', monospace;
  }

  .game-over {
    padding: 0% 10%;
    background-image: url('../assets/tileset.png');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh;
    display: none;
  }

  .game-over h1 {
    font-size: 60px;
    color: black;
    font-style: bold;
    font-family: 'VT323', monospace;
  }
  
  .game-over p {
    font-size: 20px;
    font-family: "Verdana";
    color: white;
    font-family: 'VT323', monospace;
  }

  .win-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .win-image #knight {
    width: 18vw;
    height: 30vh;
  }

  .win-image #treasure {
    width: 18vw;
    height: 30vh;
  }
  